html {
    background-color: darkslategray;
}


p {
    font-size: 1.5rem;
}

h1 {
    color: #4aaaa5;
}

h6 {
    color: #ffffff
}

hr {
    color: #777777;
    background-color: #777777;
    height: 0.5rem;
}